
.womenpage{
    margin: auto;
    width: 100%;
    padding: 2rem;
    min-height: 90vh;
    background-image:linear-gradient(to right,blue,pink);
    
    >h1{
        padding-bottom: 1rem;
        margin-left: 500px;
    }
    >div{color: black;

        font-size: 20px;
        font-weight: 500;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }
}