*{
    margin: 0;
    padding: 0;

.Navbar{
    width: 100%;
    margin: auto;
    height: 80px;
   box-shadow: 0 1px 2px green ;
    display: flex;
    align-items: center;
    background-color: rgba(172, 255, 47, 0.384);

.logo{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    >h1{
        margin-left: 50px;
    }
}
.link{
width: 60%;
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
a{
    text-decoration: none;
    font-size: 1.4rem;
    color: crimson;
}
}
}
}