*{
    padding: 0;
    margin: 0;
    .footer{
            width: 100%;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            >.footer-logo{
                min-height: 30%;
                width: 50%;
                display: flex;
                justify-content: center;
                font-size: 4rem;
            }
            >.footer-links{
                    min-height: 20%;
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                    >a{
                        text-decoration: none;
                        font-size: 1.3rem;
                        color: white;
                    }
            }
            >.footer-socails{
                >svg{
                    margin: 40px;
                }
            }

}}