.pageforitem{
height: 400px;
max-width: 100%;
margin-top: 30px;
}
.item{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.imgstuff{
    width: 200px;
    border-radius: 20px;
    height: 300px;
    background-size: contain;
transition: all 0.3s ease-in-out;
}
img:hover{
transform: translateY(-10px);
}
p{
    margin: 0px auto;
}
.itemprice{
    display: flex;
    justify-content: space-evenly;
}
.olditemprice{
    text-decoration: line-through;
}