*{
    ::-webkit-scrollbar{display: none;}
    .login{
    height: 80vh;
    padding-top: 20px;
    background-image: linear-gradient(to right,blue,violet);
form{
    margin: auto;
    background-color: rgb(233, 199, 204);
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: inherit;
    width: 70%;
    gap: 20px;

    >input{
        border-radius: 10px;
        font-size: 1rem;
        width: 50%;
        height: 60px;
    }
    >button{
            background-color: palevioletred;
            padding: 1.3rem;
            font-size: 30px;
            border-radius: 30px;
            >a{
                text-decoration: none;
                color: black;
            }
            &:hover{
                background-color: rgba(216, 112, 147, 0.377);
            }
    }
}}}