.offerdiv{
    width: 80vw;
    height: 40vh;
    background-color: palevioletred;
    border-radius: 30px;
   
    margin: auto;
    padding: 1rem;
    .text{
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 30px;
       
        >p{
            margin-left: 10px;
        }
        >button{
            background-color: crimson;
            color: white;
            font-size: 1rem;
            padding: 1rem;
            width: 160px;
            border-radius: 20px;
            margin-left: 10px;
            &:hover{
                background-color: rgb(92, 13, 29);
            }
        }
        
    }
    .imageoffer{
        width: 300px;
        background-size:cover ;
    }
}